h1,
p {
    color: blue;
}
#logo{
    color: orange;
}
p a {
    color: rgb(26, 3, 3);
    text-decoration: underline;
}
#link{
    color: red;
    text-decoration: underline;
}
.codigo{
    color: blue;
}
.design{
    color: red;
}
.underline{
    text-decoration: underline; 
}
#front{
    color: #000000;
    background: #8844ee;
}
#projeto{
    color: #ffffff;
    background: #8844ee;
}