h1,
p {
    color: blue;
}
#logo{
    color: orange;
}
p a {
    color: rgb(26, 3, 3);
    text-decoration: underline;
}
#link{
    color: red;
    text-decoration: underline;
}
.codigo{
    color: blue;
}
.design{
    color: red;
}
.underline{
    text-decoration: underline; 
}
#front{
    color: #000000;
    background: #8844ee;
}
#projeto{
    color: #ffffff;
    background: #8844ee;
}
#html{
    color: rgba(255, 0, 0, 0.8);
}
#css{
    color: rgba(0, 255, 0, 0.6);
}
#javascript{
    color: rgba(255, 255, 0, 0.8);
}
#design{
    color: rgb(76, 13, 213);
    background: rgba(5, 130, 255, 0.84);
}