h1,
p {
    color: blue;
}
#logo{
    color: orange;
}
p a {
    color: rgb(26, 3, 3);
    text-decoration: underline;
}
#link{
    color: red;
    text-decoration: underline;
}
.codigo{
    color: blue;
}
.design{
    color: red;
}
.underline{
    text-decoration: underline; 
}
#front{
    color: rgb(255, 255, 255);
    background: black;
}
#projeto{
    color:rgb(0, 136, 255);
    background: black;
}